%h1= t(:editing).capitalize + " " + t(:<%= singular_name %>)

- semantic_form_for([:admin, @<%= singular_name %>]) do |form|
  = render 'form', :form => form
  .buttons
    = form.submit
    = t(:or)
    = link_to t(:cancel).capitalize, admin_<%= plural_name %>_path, :class => "cancel"

= link_to t(:go_to_public).capitalize, <%= singular_name %>_path