<h1><%%= t(:listing) %> <%%= t(:<%= plural_name %>) %></h1>

<table>
	<thead>
  	<tr>
<%- for attribute in attributes -%>
      <th><%%= t(:<%= attribute.column.name %>) %></th>
<%- end -%>
  	</tr>
	</thead>
	<tbody>
<%% @<%= plural_name %>.each do |<%= singular_name %>| %>
  	<tr class=<%%= cycle('odd', 'even') %>>
<% for attribute in attributes -%>
    	<td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
    	<td><%%= link_to t(:show), <%= singular_name %>_path(<%= singular_name %>), :class => "show" %></td>
    	<td><%%= link_to t(:edit), edit_<%= singular_name %>_path(<%= singular_name %>), :class => "edit" %></td>
    	<td><%%= link_to t(:delete), confirm_destruction_<%= singular_name %>_path(<%= singular_name %>), :class => "delete" %></td>
  	</tr>
<%% end %>
	</tbody>
</table>
<p><%%= link_to t(:new) + ' ' + t(:<%= singular_name %>), new_<%= singular_name %>_url, :class => "new" %></p>