<%- for attribute in attributes -%>
<p>
  <strong><%= attribute.column.human_name.titleize %>:</strong>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
	<%%= link_to t(:edit), edit_admin_<%= singular_name %>_path(@<%= singular_name %>), :class => "edit" %> |
	<%%= link_to t(:list), admin_<%= plural_name %>_path, :class => "list" %>
</p>