<%% labeled_form_for([:admin, @<%= singular_name %>]) do |f| %>
  <%%= f.error_message_on :base %>
<% for attribute in attributes -%>
  <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :label => t(:<%= attribute.name %>) %>
<% end -%>
  <div>
		<%%= f.submit t(:save) %>
		<%%= link_to t(:cancel), admin_<%= plural_name %>_path, :class => "cancel" %>
  </div>
<%% end %>